body {
  margin-left: 10px;
/*  background-image: url(eduhackathon.jpg);
  background-size: cover;
  background-repeat: no-repeat;*/
}

.error {
  color: red;
  font-size: 20px;
}

.form-inline {
  margin-bottom: 40px;
  padding-left: 28px
}
.img-responsive {
  height: 50px;
  width: 50px;
  display: initial;
  margin-left: 10px;
}
.list-group-item {
  padding: 1px;
  border: none;
}
.organization {
  font-size: 30px;
}

.panel {
  height: 160px;
  overflow-y: auto;
}

.panel-heading {
  font: 100px;
}

.signIn {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
}
.button-block, .signIn {
  width: 200px;
}

.reposLanguages {
  padding-left: 28px;
}

.totalLanguages {
  width: 175px;
}
.username {
  padding-left: 10px;
  font-size: 30px;
}


